<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Code Shopping - Login</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Digite o email" required autofocus>
    <label for="inputEmail">Digite o email</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Digite a senha" required>
    <label for="inputPassword">Digite a senha</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>
