<div class="form-group" [formGroup]="form">
  <label [for]="fieldsOptions.name.id">{{fieldsOptions.name.label}}</label>
  <input type="text" class="form-control" [id]="fieldsOptions.name.id" isInvalid formControlName="name">
  <field-error [field]="form.get('name')"
               [label]="fieldsOptions.name.label"
               [messages]="fieldsOptions.name.validationMessage"></field-error>
</div>

<div class="form-group" [formGroup]="form">
  <label [for]="fieldsOptions.description.id">{{fieldsOptions.description.label}}</label>
  <textarea class="form-control" cols="30" rows="4" [id]="fieldsOptions.description.id" isInvalid formControlName="description"></textarea>
  <field-error [field]="form.get('description')"
               [label]="fieldsOptions.name.label"
               [messages]="fieldsOptions.name.validationMessage"></field-error>
</div>

<div class="form-group" [formGroup]="form">
  <label [for]="fieldsOptions.price.id">{{fieldsOptions.price.label}}</label>
  <input type="number" class="form-control" [id]="fieldsOptions.price.id" isInvalid formControlName="price">
  <field-error [field]="form.get('price')"
               [label]="fieldsOptions.price.label"
               [messages]="fieldsOptions.price.validationMessage"></field-error>
</div>

<div class="form-group form-check" [formGroup]="form">
  <input type="checkbox" class="form-check-input" id="active" name="active" formControlName="active">
  <label for="active">Ativo</label>
</div>